// Primary Colors
$color-very-dark-blue: hsl(243, 87%, 12%);
$color-desaturated-blue: hsl(238, 22%, 44%);

// Accent Colors
$color-bright-blue: hsl(224, 93%, 58%);
$color-moderate-cyan: hsl(170, 45%, 43%);

// Neutral Colors
$color-light-grayish-blue: hsl(240, 75%, 98%);
$color-light-gray: hsl(0, 0%, 75%);
