@import "variables";
@import "fonts";
@import "header";


:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-body;
  font-size: 1rem;
  line-height: 1.5em;
  color: $color-desaturated-blue;
}

body * + * {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: $font-title;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
  color: $color-desaturated-blue;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

.input-subscription[type=text],
.message-textbox {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid #585989;
    border-radius: 3px;
    margin: 8px 0;
    font-size: 1em;
}

.btn-subscription {
    background-color: #3065f8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin-top: 0.7em;
    border-radius: 3px;
}

.container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 127px auto auto auto;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "mc mc mc mc mc mc mc mc mc mc mc mc"
    "bs bs bs bs bs bs bs bs bs bs bs bs"
    "f f f f f f f f f f f f";

  .header {
    grid-area: h;
  }

  .main-content {
    grid-area: mc;
    grid-row-start: 2;
  }

  .blog-subscribe {
    grid-area: bs;
  }

  .footer {
    grid-area: f;
  }
}

.main-content {
  padding: 1.2em;

    .recent-post {

        .title {
          font-size: 2.2em;
          color: $color-very-dark-blue;
        }
    }

    .image-wrapper {
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    .fig-caption {
      font-size: 0.9em;
      margin-top: 0;
      text-align: center;
    }

    .post-image {
      width: 100%;
    }

    .post-summary-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 1em;
      border-radius: 5px;
      box-shadow: 0px 0px 8px 3px #e6e6e6;
      margin-bottom: 2.5em;

        .content {
          margin-top: 0.5em;
          line-height: 1.6em;
        }

        .post-title {
          color: $color-very-dark-blue;
          font-size: 1.6em;
          margin-bottom: 0.6em;
          line-height: 1.5em;
        }

        .post-summary {
          margin-top: 0.6em;
          font-size: 1.1em;
        }

        .btn-see-more {
          display: flex;
          justify-content: center;
          align-items: center;
          background: $color-moderate-cyan;
          border: 2px solid $color-moderate-cyan;
          padding: 12px 0;
          text-decoration: none;
          width: 100%;
          color: white;
          font-size: 1.2em;
          font-weight: 600;
          text-align: center;
          transition: all 0.3s ease-out;
          cursor: pointer;

            .fa-angle-right {
              margin-left: 0.4em;
            }
        }
    }
}

.blog-subscribe {
  padding: 1.2em 1.2em 2.7em 1.2em;
  background-color: $color-desaturated-blue;

    .message {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $color-light-gray;
    }

    .title {
      color: $color-light-grayish-blue;
      font-size: 1.6em;
      margin-bottom: 0;
    }

    .text {
      margin-top: 1em;
      margin-bottom: 0;
    }

    .subscription-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

        .subscription {
          padding-left: 0.8em;
          padding-right: 0.8em;

            .input-subscription {
              margin-bottom: 0.75em;
            }

            .subscription-name {
              margin-bottom: 0;
            }

            .blog-btn-subscription {
              margin-top: 0;
              box-shadow: 1px 2px 2px -1px rgba(112, 108, 112, 0.58);
            }
        }
    }
}

.footer {
    margin-top: 0;
    padding: 4em 1.2em 1em 1.2em;
    background-color: $color-very-dark-blue;
    color: $color-light-grayish-blue;
    font-size: 0.9em;

    .personal-logo {
      width: 5em;
    }

    .personal-details .phone, .personal-details .email {
        display: flex;
        align-items: baseline;
    }

    .personal-details .email {
      margin-top: 0;
    }

    .personal-details .details-icon {
        margin-right: 15px;
    }

    .other-links {
        margin-top: 2.5em;
        margin-bottom: 4em;

        .social {
            margin-top: 60px;
            display: flex;
            justify-content: center;
        }

        .social .social-icon {
          margin-right: 11px;
          height: 2.4em;
          width: 2.4em;
        }

        .social .social-icon + .social-icon {
          margin-top: 0;
        }

        .social .social-icon .fab {
          padding: 9px;
          font-size: 14px;
          height: 2.4em;
          width: 2.4em;
          border-radius: 50%;
          color: #f6f6fe;
          text-align: center;
          text-decoration: none;
          border: 1px solid #f6f6fe;

        }
    }

    .other-pages {
        margin-bottom: 4em;
        color: $color-light-grayish-blue;

        .menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            line-height: 0.9em;

              .link-item a {
                color: $color-light-grayish-blue;
              }
        }
    }

    .attribution {
      font-size: 0.8em;
      text-align: center;

        .external-link a {
          color: $color-light-grayish-blue;
        }
    }
}

// About Page

.about-wrapper {

    .title {
      font-size: 2.2em;
      color: $color-very-dark-blue;
    }

    .photo-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3em;
    }

    .photo-wrapper .headshot {
      height: 12em;
      width: 12em;
      border: 1px solid $color-light-gray;
      border-radius: 50%;
    }
}

.other-page-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 0;
  padding-right: 0;

  .internal-link {
    border-bottom: 1px solid $color-moderate-cyan;
    padding-bottom: 3px;
    color: $color-moderate-cyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link-arrow {
    margin-top: 0;
    margin-left: 0.2em;
  }
}

// Contact Page

.contact-wrapper {
  margin-bottom: 2em;

    .title {
      color: $color-very-dark-blue;
      font-size: 2.2em;
    }

    .contact-message {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .message-text {
      margin-top: 0;
    }

    .btn-send-message {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-moderate-cyan;
      font-weight: normal;

        .fa-paper-plane {
          margin-top: 0;
          margin-left: 0.3em;
        }
    }
}


// Blog Post

.blog-post-wrapper {

  .photo-wrapper {
    height: 7em;
    width: 7em;
  }

}

.blog-post-title {
  font-size: 1.8em;
  line-height: 1.2em;
  color: $color-very-dark-blue;
  margin-top: 0;
}

.blog-info {
  display: flex;
  flex-direction: column;

  .blog-share {
    margin-bottom: 1em;
  }
}

.blog-details-wrapper {
  display: flex;
  align-items: center;
}

.author-headshot {
  height: 7em;
  width: 7em;
  border-radius: 50%;
}

.other-details-wrapper {
  margin-top: 0;
  margin-left: 1em;
  font-size: 0.8em;

    .post-author {
      margin-bottom: 0.5em;
    }

    .date-duration {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 0.5em;
      font-size: 0.9em;

        .post-read-duration {
          margin-top: 0;
          margin-left: 0.6em;
        }
    }
}

.post-wrapper {

  .quote {
    border-left: solid 4px $color-very-dark-blue;
    padding-left: 0.7em;
    font-size: 1.2em;
  }
}

.blog-share {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 0;
}

.share-social-icons {
  margin-left: 0.6em;

    .fab {
      font-size: 1.4em;
      margin-right: 0.3em;
    }
}

.tags-wrapper {

    .post-tag {
      display: inline-block;
      background-color: $color-light-grayish-blue;
      text-align: center;
      padding: 0.2em;
      border-radius: 0.5em;
      margin: 0.3em;
    }
}

.author-bio-wrapper {
  display: flex;
  flex-direction: column;

    .post-author {
      display: flex;
      // justify-content: space-between;
      align-items: center;

        .author-name-wrapper {
          margin-top: 0;
          margin-left: 1em;
          text-align: center;


            .written-by {
              margin-top: 0;
              margin-bottom: 0.5em;
              font-size: 0.9em;
            }

            .author-name {
              font-size: 0.9em;
              margin: 0;
            }
        }
    }

    .author-bio {
      margin-top: 0;
      font-size: 0.9em;
    }
}


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  .header {
    padding-left: 3.5em;
    padding-right: 3.5em;
  }
  .main-content {

    padding: 3.5em;

    .recent-post,
    .about-wrapper,
    .contact-wrapper {

        .title {
          margin-top: 0;
          font-size: 2.2em;
        }
    }

    .blog-post-title {
      font-size: 2.2em;
    }

    .blog-info {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5em;

      .blog-details-wrapper .other-details-wrapper {
        font-size: 1em;
      }

      .blog-share {
        margin-bottom: 0;
        height: 100%;
      }

    }

    .recent-post {

        .post-summary-item {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 1.4em;

            .image-wrapper {
              flex-basis: 45%;

                .post-image {
                  height: 329px;
                }
            }

            .content {
              flex-basis: 50%;
              margin-top: 0;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;

                .post-title {
                  margin-top: 0;
                  margin-bottom: 0;
                  font-size: 2em;
                }

                .post-summary {
                  font-size: 1.5em;
                  line-height: 1.4em;
                  margin-bottom: 1em;
                }

                .btn-see-more {
                  margin-top: 0;
                }
            }
        }
    }

    .blog-post-wrapper {

        .post-wrapper .post-text {
          font-size: 1.4em;
          line-height: 1.5em;
        }

        .post-wrapper .quote {
          font-size: 1.4em;
          line-height: 1.5em;
          font-weight: bold;
        }

        .tags-wrapper {
          font-size: 1.2em;
        }
    }

    .about-wrapper {

        .text-wrapper {
          font-size: 1.4em;
          line-height: 1.5em;
        }
    }

    .contact-wrapper {

        .contact-message {
          padding-left: 8em;
          padding-right: 8em;
          font-size: 1.4em;
          line-height: 1.5em;
        }

        .contact-form-wrapper {
          padding-left: 8em;
          padding-right: 8em;
        }
    }
  }

  .blog-subscribe {
    padding-left: 4em;
    padding-right: 4em;

    display: flex;
    justify-content: space-between;

      .message {
        flex-basis: 40%;
        align-items: flex-start;
        font-size: 1.1em;
      }

      .subscription-wrapper {
        flex-basis: 45%;
      }
  }

  .author-bio-wrapper {
    flex-direction: row;

      .post-author {
        flex-basis: 30%;

          .author-name-wrapper {

              .written-by {
                font-size: 1em;
              }

              .author-name {
                font-size: 1em;
              }
          }
      }

      .author-bio {
        flex-basis: 45%;
        font-size: 1em;

          .other-page-link-wrapper {
            justify-content: flex-start;
          }
      }
  }

  .footer {

    padding-left: 3.5em;
    padding-right: 3.5em;

    .main-inner-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

        .personal-details {
          flex-basis: 50%;
        }

        .other-links {
          flex-basis: 50%;
          margin-left: 2em;
          margin-right: 2em;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;

            .other-pages {
              margin-bottom: 0;
            }

            .social {
              margin-top: 0;
            }
        }
    }
  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .header {
    padding-left: 3.5em;
    padding-right: 3.5em;
  }
  .main-content {

    padding: 3.5em;

    .recent-post,
    .about-wrapper,
    .contact-wrapper {

        .title {
          margin-top: 0;
          font-size: 2.2em;
        }
    }

    .blog-post-title {
      font-size: 2.2em;
    }

    .blog-info {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5em;

      .blog-details-wrapper .other-details-wrapper {
        font-size: 1em;
      }

      .blog-share {
        margin-bottom: 0;
        height: 100%;
      }

    }
  }

  .blog-subscribe {
    padding-left: 4em;
    padding-right: 4em;
  }

  .author-bio-wrapper {
    flex-direction: row;

      .post-author {
        flex-basis: 45%;
      }

      .author-bio {
        flex-basis: 55%;

          .other-page-link-wrapper {
            justify-content: flex-start;
          }
      }
  }

  .footer .main-inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

      .personal-details {
        flex-basis: 50%;
      }

      .other-links {
        flex-basis: 50%;
        margin-left: 2em;
        margin-right: 2em;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

          .other-pages {
            margin-bottom: 0;
          }

          .social {
            margin-top: 0;
          }
      }
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .header {
    padding-left: 3.5em;
    padding-right: 3.5em;
  }
  .main-content {

    padding: 3.5em;

    .recent-post,
    .about-wrapper,
    .contact-wrapper {

        .title {
          margin-top: 0;
          font-size: 2.2em;
        }
    }

    .blog-post-title {
      font-size: 2.2em;
    }

    .blog-info {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5em;

      .blog-details-wrapper .other-details-wrapper {
        font-size: 1em;
      }

      .blog-share {
        margin-bottom: 0;
        height: 100%;
      }

    }
  }

  .blog-subscribe {
    padding-left: 4em;
    padding-right: 4em;
  }

  .author-bio-wrapper {
    flex-direction: row;

      .post-author {
        flex-basis: 45%;
      }

      .author-bio {
        flex-basis: 55%;

          .other-page-link-wrapper {
            justify-content: flex-start;
          }
      }
  }

  .footer .main-inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

      .personal-details {
        flex-basis: 50%;
      }

      .other-links {
        flex-basis: 50%;
        margin-left: 2em;
        margin-right: 2em;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

          .other-pages {
            margin-bottom: 0;
          }

          .social {
            margin-top: 0;
          }
      }
  }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .header {
    padding-left: 1.6em;
    padding-right: 1.6em;
  }
  .main-content {

    padding: 1.6em;

    .recent-post,
    .about-wrapper,
    .contact-wrapper {

        .title {
          margin-top: 0;
          font-size: 2.2em;
        }
    }

    .blog-post-title {
      font-size: 2.2em;
    }

    .blog-info {

      .blog-details-wrapper .other-details-wrapper {
        font-size: 1em;
      }

    }
  }

  .blog-subscribe {
    padding-left: 4em;
    padding-right: 4em;
  }

  .footer .main-inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

      .personal-details {
        flex-basis: 50%;
      }

      .other-links {
        flex-basis: 50%;
        margin-left: 2em;
        margin-right: 2em;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

          .other-pages {
            margin-bottom: 0;
          }

          .social {
            margin-top: 0;
          }
      }
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .main-content {

    .recent-post,
    .about-wrapper,
    .contact-wrapper {

        .title {
          margin-top: 0;
          font-size: 2em;
        }
    }

    .post-summary-item {

      .post-title {
        font-size: 1.4em;
      }

      .post-summary {
        font-size: 1em;
      }

      .btn-see-more {
        font-size: 1em;
      }
    }

  }
}


@media (min-width: 48em) {
  .menu .menu-item {
    margin-top: 24px;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
