@import "variables";
@import "fonts";


:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-body;
  font-size: 1rem;
  line-height: 1.5em;
  color: $color-desaturated-blue;
}

body * + * {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: $font-title;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:focus,
input:focus {
  outline: none;
}
