@import "variables";
@import "fonts";
@import "header";


:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-body;
  font-size: 1rem;
  line-height: 1.5em;
  color: $color-desaturated-blue;
}

body * + * {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: $font-title;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:focus,
input:focus {
  outline: none;
}

.container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 127px auto auto auto;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "mc mc mc mc mc mc mc mc mc mc mc mc"
    "bs bs bs bs bs bs bs bs bs bs bs bs"
    "f f f f f f f f f f f f";

  .header {
    grid-area: h;
  }

  .main-content {
    grid-area: mc;
    grid-row-start: 2;
  }

  .blog-subscribe {
    grid-area: bs;
  }

  .footer {
    grid-area: f;
  }
}


/* 48em = 768px */

@media (min-width: 48em) {
  .menu .menu-item {
    margin-top: 24px;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
