.header {
  padding: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}
.header .logo {
  display: flex;
  flex-direction: column;
  flex: 1 1 10%;
  justify-content: center;
}
.header .logo img {
  width: 5em;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  margin-top: 0;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 25px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 280px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.menu-item + .menu-item {
  margin-top: 0;
}

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  color: #585989;
}

body * + * {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
  color: #585989;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

.input-subscription[type=text],
.message-textbox {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #585989;
  border-radius: 3px;
  margin: 8px 0;
  font-size: 1em;
}

.btn-subscription {
  background-color: #3065f8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  margin-top: 0.7em;
  border-radius: 3px;
}

.container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 127px auto auto auto;
  grid-template-areas: "h h h h h h h h h h h h" "mc mc mc mc mc mc mc mc mc mc mc mc" "bs bs bs bs bs bs bs bs bs bs bs bs" "f f f f f f f f f f f f";
}
.container .header {
  grid-area: h;
}
.container .main-content {
  grid-area: mc;
  grid-row-start: 2;
}
.container .blog-subscribe {
  grid-area: bs;
}
.container .footer {
  grid-area: f;
}

.main-content {
  padding: 1.2em;
}
.main-content .recent-post .title {
  font-size: 2.2em;
  color: #070439;
}
.main-content .image-wrapper {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.main-content .fig-caption {
  font-size: 0.9em;
  margin-top: 0;
  text-align: center;
}
.main-content .post-image {
  width: 100%;
}
.main-content .post-summary-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 3px #e6e6e6;
  margin-bottom: 2.5em;
}
.main-content .post-summary-item .content {
  margin-top: 0.5em;
  line-height: 1.6em;
}
.main-content .post-summary-item .post-title {
  color: #070439;
  font-size: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.5em;
}
.main-content .post-summary-item .post-summary {
  margin-top: 0.6em;
  font-size: 1.1em;
}
.main-content .post-summary-item .btn-see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3c9f8f;
  border: 2px solid #3c9f8f;
  padding: 12px 0;
  text-decoration: none;
  width: 100%;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.main-content .post-summary-item .btn-see-more .fa-angle-right {
  margin-left: 0.4em;
}

.blog-subscribe {
  padding: 1.2em 1.2em 2.7em 1.2em;
  background-color: #585989;
}
.blog-subscribe .message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #bfbfbf;
}
.blog-subscribe .title {
  color: #f6f6fe;
  font-size: 1.6em;
  margin-bottom: 0;
}
.blog-subscribe .text {
  margin-top: 1em;
  margin-bottom: 0;
}
.blog-subscribe .subscription-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog-subscribe .subscription-wrapper .subscription {
  padding-left: 0.8em;
  padding-right: 0.8em;
}
.blog-subscribe .subscription-wrapper .subscription .input-subscription {
  margin-bottom: 0.75em;
}
.blog-subscribe .subscription-wrapper .subscription .subscription-name {
  margin-bottom: 0;
}
.blog-subscribe .subscription-wrapper .subscription .blog-btn-subscription {
  margin-top: 0;
  box-shadow: 1px 2px 2px -1px rgba(112, 108, 112, 0.58);
}

.footer {
  margin-top: 0;
  padding: 4em 1.2em 1em 1.2em;
  background-color: #070439;
  color: #f6f6fe;
  font-size: 0.9em;
}
.footer .personal-logo {
  width: 5em;
}
.footer .personal-details .phone, .footer .personal-details .email {
  display: flex;
  align-items: baseline;
}
.footer .personal-details .email {
  margin-top: 0;
}
.footer .personal-details .details-icon {
  margin-right: 15px;
}
.footer .other-links {
  margin-top: 2.5em;
  margin-bottom: 4em;
}
.footer .other-links .social {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.footer .other-links .social .social-icon {
  margin-right: 11px;
  height: 2.4em;
  width: 2.4em;
}
.footer .other-links .social .social-icon + .social-icon {
  margin-top: 0;
}
.footer .other-links .social .social-icon .fab {
  padding: 9px;
  font-size: 14px;
  height: 2.4em;
  width: 2.4em;
  border-radius: 50%;
  color: #f6f6fe;
  text-align: center;
  text-decoration: none;
  border: 1px solid #f6f6fe;
}
.footer .other-pages {
  margin-bottom: 4em;
  color: #f6f6fe;
}
.footer .other-pages .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 0.9em;
}
.footer .other-pages .menu .link-item a {
  color: #f6f6fe;
}
.footer .attribution {
  font-size: 0.8em;
  text-align: center;
}
.footer .attribution .external-link a {
  color: #f6f6fe;
}

.about-wrapper .title {
  font-size: 2.2em;
  color: #070439;
}
.about-wrapper .photo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}
.about-wrapper .photo-wrapper .headshot {
  height: 12em;
  width: 12em;
  border: 1px solid #bfbfbf;
  border-radius: 50%;
}

.other-page-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}
.other-page-link-wrapper .internal-link {
  border-bottom: 1px solid #3c9f8f;
  padding-bottom: 3px;
  color: #3c9f8f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.other-page-link-wrapper .link-arrow {
  margin-top: 0;
  margin-left: 0.2em;
}

.contact-wrapper {
  margin-bottom: 2em;
}
.contact-wrapper .title {
  color: #070439;
  font-size: 2.2em;
}
.contact-wrapper .contact-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-wrapper .message-text {
  margin-top: 0;
}
.contact-wrapper .btn-send-message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c9f8f;
  font-weight: normal;
}
.contact-wrapper .btn-send-message .fa-paper-plane {
  margin-top: 0;
  margin-left: 0.3em;
}

.blog-post-wrapper .photo-wrapper {
  height: 7em;
  width: 7em;
}

.blog-post-title {
  font-size: 1.8em;
  line-height: 1.2em;
  color: #070439;
  margin-top: 0;
}

.blog-info {
  display: flex;
  flex-direction: column;
}
.blog-info .blog-share {
  margin-bottom: 1em;
}

.blog-details-wrapper {
  display: flex;
  align-items: center;
}

.author-headshot {
  height: 7em;
  width: 7em;
  border-radius: 50%;
}

.other-details-wrapper {
  margin-top: 0;
  margin-left: 1em;
  font-size: 0.8em;
}
.other-details-wrapper .post-author {
  margin-bottom: 0.5em;
}
.other-details-wrapper .date-duration {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5em;
  font-size: 0.9em;
}
.other-details-wrapper .date-duration .post-read-duration {
  margin-top: 0;
  margin-left: 0.6em;
}

.post-wrapper .quote {
  border-left: solid 4px #070439;
  padding-left: 0.7em;
  font-size: 1.2em;
}

.blog-share {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 0;
}

.share-social-icons {
  margin-left: 0.6em;
}
.share-social-icons .fab {
  font-size: 1.4em;
  margin-right: 0.3em;
}

.tags-wrapper .post-tag {
  display: inline-block;
  background-color: #f6f6fe;
  text-align: center;
  padding: 0.2em;
  border-radius: 0.5em;
  margin: 0.3em;
}

.author-bio-wrapper {
  display: flex;
  flex-direction: column;
}
.author-bio-wrapper .post-author {
  display: flex;
  align-items: center;
}
.author-bio-wrapper .post-author .author-name-wrapper {
  margin-top: 0;
  margin-left: 1em;
  text-align: center;
}
.author-bio-wrapper .post-author .author-name-wrapper .written-by {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 0.9em;
}
.author-bio-wrapper .post-author .author-name-wrapper .author-name {
  font-size: 0.9em;
  margin: 0;
}
.author-bio-wrapper .author-bio {
  margin-top: 0;
  font-size: 0.9em;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .header {
    padding-left: 1.6em;
    padding-right: 1.6em;
  }

  .main-content {
    padding: 1.6em;
  }
  .main-content .recent-post .title,
.main-content .about-wrapper .title,
.main-content .contact-wrapper .title {
    margin-top: 0;
    font-size: 2.2em;
  }
  .main-content .blog-post-title {
    font-size: 2.2em;
  }
  .main-content .blog-info .blog-details-wrapper .other-details-wrapper {
    font-size: 1em;
  }

  .blog-subscribe {
    padding-left: 4em;
    padding-right: 4em;
  }

  .footer .main-inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer .main-inner-wrapper .personal-details {
    flex-basis: 50%;
  }
  .footer .main-inner-wrapper .other-links {
    flex-basis: 50%;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer .main-inner-wrapper .other-links .other-pages {
    margin-bottom: 0;
  }
  .footer .main-inner-wrapper .other-links .social {
    margin-top: 0;
  }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .main-content .recent-post .title,
.main-content .about-wrapper .title,
.main-content .contact-wrapper .title {
    margin-top: 0;
    font-size: 2em;
  }
  .main-content .post-summary-item .post-title {
    font-size: 1.4em;
  }
  .main-content .post-summary-item .post-summary {
    font-size: 1em;
  }
  .main-content .post-summary-item .btn-see-more {
    font-size: 1em;
  }
}
@media (min-width: 48em) {
  .menu .menu-item {
    margin-top: 24px;
  }

  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
