@import "variables";
@import "fonts";
@import "header";


:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-body;
  font-size: 1rem;
  line-height: 1.5em;
  color: $color-desaturated-blue;
}

body * + * {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: $font-title;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:focus,
input:focus {
  outline: none;
}

.input-subscription[type=text] {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid #585989;
    border-radius: 3px;
    margin: 8px 0;
    font-size: 1em;
}

.btn-subscription {
    background-color: #3065f8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin-top: 0.7em;
    border-radius: 3px;
}

.container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 127px auto auto auto;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "mc mc mc mc mc mc mc mc mc mc mc mc"
    "bs bs bs bs bs bs bs bs bs bs bs bs"
    "f f f f f f f f f f f f";

  .header {
    grid-area: h;
  }

  .main-content {
    grid-area: mc;
    grid-row-start: 2;
  }

  .blog-subscribe {
    grid-area: bs;
  }

  .footer {
    grid-area: f;
  }
}

.main-content {
  padding: 1.2em;

    .recent-post {

        .title {
          font-size: 2.2em;
          color: $color-very-dark-blue;
        }
    }

    .post-summary-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 1em;
      border-radius: 5px;
      box-shadow: 0px 0px 8px 3px #e6e6e6;
      margin-bottom: 2.5em;

        .image-wrapper {
          margin: 0;
          padding: 0;
          background-color: #f4f4f4;
        }

        .fig-caption {
          font-size: 0.9em;
          margin-top: 0;
          text-align: center;
        }

        .post-image {
          width: 100%;
        }

        .content {
          margin-top: 0.5em;
          line-height: 1.6em;
        }

        .post-title {
          color: $color-very-dark-blue;
          font-size: 1.6em;
          margin-bottom: 0.6em;
          line-height: 1.5em;
        }

        .post-summary {
          margin-top: 0.6em;
          font-size: 1.1em;
        }

        .btn-see-more {
          display: flex;
          justify-content: center;
          align-items: center;
          background: $color-moderate-cyan;
          border: 2px solid $color-moderate-cyan;
          padding: 12px 0;
          text-decoration: none;
          width: 100%;
          color: white;
          font-size: 1.2em;
          font-weight: 600;
          text-align: center;
          transition: all 0.3s ease-out;
          cursor: pointer;

            .fa-angle-right {
              margin-left: 0.4em;
            }
        }
    }
}

.blog-subscribe {
  padding: 1.2em 1.2em 2.7em 1.2em;
  background-color: $color-desaturated-blue;

    .message {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $color-light-gray;
    }

    .title {
      color: $color-light-grayish-blue;
      font-size: 1.6em;
      margin-bottom: 0;
    }

    .text {
      margin-top: 1em;
      margin-bottom: 0;
    }

    .subscription-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

        .subscription {
          padding-left: 0.8em;
          padding-right: 0.8em;

            .input-subscription {
              margin-bottom: 0.75em;
            }

            .bottom-btn-subscription {
              margin-top: 0;
              box-shadow: 1px 2px 2px -1px rgba(112, 108, 112, 0.58);
            }
        }
    }
}


/* 48em = 768px */

@media (min-width: 48em) {
  .menu .menu-item {
    margin-top: 24px;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
